<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p>${{product.get_price}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe("{{STRIPE_PUBLISHABLE_KEY}}");
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('{% url 'buy' product.id %}', {
          method: 'GET'
        })
        .then(response => {
          return response.json();
        })
        .then(session => {
          return stripe.redirectToCheckout({sessionId: session.sessionId});
        });
      });
    </script>
  </body>
</html>
