<!DOCTYPE html>
<html>

<head>
    <title>Buy cool new product</title>
</head>
daf
<body>
    <section>
        <div class="product">
            <div class="description">
                <h3>{{ product.name }}</h3>
                <hr />

                <div>
                    <h5>${{ product.get_price }}</h5>
                    <form action="{% url 'create-checkout-session' product.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>
                </div>

            </div>

        </div>
    </section>
</body>

</html>